.gallery-card {
    /* width: 100%; */
    /* height: 200px; */
    margin: 0 5px;
    /* background-color: rgb(37, 37, 37) !important; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-card img {
    max-height: 100%;
    width: 100%;
}

.video-sec {
    width: 100px;
    height: 600px;
}

@media only screen and (max-width: 475px) {
    .video-sec {
        width: 250px;
        height: 200px;
    }

    .gallery-card img {
        max-height: 55%;
        width: 100%;
    }
    
}