.container-sec-project-inventory {
    height: auto;
}
.header-title-mobile {
    display: none;
}
.header-title .building-status-sec-one, .header-title .building-status-sec-two {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(216, 216, 216);

}
.header-title .building-status-sec-one {
    background-color: #9b9b9b;
    color: #fff;
}
.header-title .building-status-sec-two {
    background-color: #e1e1e1;
    color: #4a2e23;
}

/* .project-logo img {
    height: 130px;
} */

.inventory-header {
    border: 2px solid #cdcdcd;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.inventory-header-btn {
    width: 90%;
    align-self: center;
    margin: 5px
}
.project-info-inventory {
    flex-direction: column;
    height: 85px;
    width: 400px;
}
.project-inventory-menu {
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.inventory-project-logo {
    display: flex;
    justify-content: center;
}
.project-inventory-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.project-inventory-footer button {
    width: 13%;
    height: 45px;
    margin-left: 10px;
    
}


@media only screen and (max-width: 475px) {
    .header-title-desktop {
        display: none;
    }
    .header-title-mobile {
        display: block;
        width: 100%;
    }
    .project-info-inventory {
        flex-direction: column;
        width: 100%;
    }
    .project-info-inner {
        display: flex;
        flex-direction: row;
    }
    .project-inventory-footer button {
        width: 100%;
        height: 45px;
        margin-left: 10px;
        padding: 2px;
    }
    .inventory-btn-1 {
        width: 20% !important;
    }
    .inventory-btn-2 {
        width: 30% !important;
    }
    .inventory-btn-3 {
        width: 50% !important;
    }
}