.dashboard-carousel {
    width: 100%;
}
.dashboard-carousel button{
    background-color: rgba(103,58,183,0.1);
    color: #333;
    box-shadow: 0 0 2px 0px #333;
}

.dashboard-carousel .lcUbOd {
    background-color: rgb(153, 122, 22) !important;
    color: #333;
    box-shadow: 0 0 2px 0px rgb(83, 58, 10);
}

.dashboard-carousel button:hover, .dashboard-carousel button:focus {
    background-color: #634000 !important;
    box-shadow: 0 0 1px 3px #2b160e;
    color: #fff;
}



.dashboard-card-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 475px) {
    /* .container-sec-dashboard {
        height: auto;
        padding: 70px 0;
    } */
}