.container-sec-booking-form {
    height: auto;
}
.container-sec-booking-form h3 {
    font-size: 17px;
}

.border-sec-booking-form {
    margin: 70px 15px;
}
.booking-form-section-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.booking-form-container {
    width: 48%;
}

.booking-form-section-two {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.booking-title {
    margin-bottom: 20px;
}
.booking-title h3 {
    text-align: center;
    /* margin-bottom: 10px; */
}
.booking-form-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-form-footer button {
    width: 40%;
    height: 45px;
}