.navbar-items {
    background: #fff;
    border-bottom: 2px solid #e7e6e6;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}
.navbar-items h2 {
    text-align: center !important;
    margin-left: 50px;
    color: #4a2e23;
}

.navbar-items img {
    width: 8%;
    max-width: 100%;
    margin-left: 50px;
}
.navbar-items .nav-signout-btn {
    width: 100px !important;
    margin-right: 50px !important;
    margin-top: 0 !important;
}

@media only screen and (max-width: 475px) {
    .navbar-items img {
        width: 25%;
        max-width: 100%;
        margin-left: 10px;
    }
    .navbar-items h2 {
        margin-left: 10px;
        margin-bottom: 0;
    }
    .navbar-items .nav-signout-btn {
        margin-right: 10px !important;
        margin-bottom: 0;
    }
}