
.price-sheet-section-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.price-sheet-section-one h3, .price-sheet-section-two h3 {
    font-size: 17px;
}
.price-sheet-section-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.price-sheet-appartment-details {
    width: 48%;
    margin-bottom: 15px;
}
.price-sheet-appartment-details h3 {
    margin-bottom: 10px;
}
@media only screen and (max-width: 475px) {
    .container-sec-price-sheet {
        height: auto;
    }
    .border-sec-price-sheet {
        margin: 70px 15px;
    }
    .price-sheet-section-one {
        flex-direction: column;
    }
    .price-sheet-appartment-details {
        width: 100%;
        margin-bottom: 10px;
    }
}